
header {
    background-color: #122bbb;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.hamburger {
    background-color: #333;
    color: #fff;
    padding: 1em;
    border: none;
    font-size: 1.5em;
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #333;
    background-color: #ccc;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    
}

figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

figcaption {
    font-size: 1.2em;
}

main {
    max-width: 1200px;
}

figure {
    grid-template-columns: repeat(6, 1fr);
}