:root {
    --primary-color: #0205b6;
    --secondary-color: #1a3f5f;
    --accent-color: #09077a;
    --bg-color: rgb(37, 109, 46);
    --text-color: #343a40;
    --hover-color: #26970a;
    --weather-icon-size: 20px;
}

body {
    display: grid;
    max-width: 100%;
    min-height: 100vh; 
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    font-family: 'Poppins', sans-serif;
    background-color: rgb(215, 230, 230);
    color: rgb(83, 4, 94);
    overflow-x: hidden; 
    margin: 0; 
}

.navbar a {
    font-weight: 200%;
}

.about {
    width: 40%;
    height: 80%;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: black; 
}

.menu li a {
    color: white;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px; 
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 3, 148);
    color: white;
    font-weight: bold;
    padding: 10px; 
}

.data {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    max-width: 600px; 
}

header {
    grid-area: nav; 
    color: white;
    z-index: 999;
}

table {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 760px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "nav"
            "main"
            "footer";
        padding: 10px;
    }

    .data {
        width: 80%; 
        max-width: 100%;
        margin: 10px; 
    }

    header {
        grid-area: nav;
    }

    footer {
        grid-area: footer;
    }

    main {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        padding: 10px; 
    }

    .about {
        width: 80%;
        margin-bottom: 20px; 
    }


    main div figure img {
        width: 100%; 
        height: auto;
        gap: 10px; 
    }


}

@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;  
        padding: 10px;  
    }
    .hamburger {
        display: flex;
        flex-direction: column; 
        cursor: pointer;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0; 
        transition: all 0.3s ease;
    }

    .menu {
        display: none;  }

    #nav-links.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: purple;
        position: absolute;
        top: 100%; 
        left: 0; 
        width: 100%;
        z-index: 1000; }

    #nav-links li a {
        text-decoration: none;
        font-size: 100%;
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        color: white;
    }

    #nav-links li a:hover {
        background-color: rgb(4, 116, 97);
    }

    #nav-links li {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 100%; 
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.open .bar:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }
}
