body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    font-weight: bold;
}

h1 {
    color:  #03355e;
    ;
}
form {
    background: #0174d1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

label {
    display: block;
    margin-top: 10px;
}

select, input[type="date"], input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.rating {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 10px 0;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 24px;
    color: rgb(10, 26, 165);
    cursor: pointer;
}

.rating input:checked ~ label,
.rating input:hover ~ label {
    color: rgb(167, 28, 4);
}
.features {
    display: flex;
    flex-direction: column;
}

.feature-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.features input {
    margin-right: 8px;
}

input[type="submit"] {
    background-color: #055f6e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #48c401;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #f9f8fd;
    width: 100%;
    background-color:#015fac;
}

